body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #141414;
  color: white;
}

.flex-between,
header,
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}

a,
button,
select,
i {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.828);
}

input {
  padding: 10px;
  font-size: 16px;
  width: 500px;
  border-radius: 6px;
  border: 1px solid transparent;
  background: #1f1f1f;
  color: white;
  font-family: inherit;
  outline: none;
}

input:focus {
  border: 1px solid red;
}

.page-container {
  padding: 0 40px 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  z-index: 1;
  margin-top: 20px;
}

.card {
  background: #1f1f1f;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  transform-origin: center;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin-top: 10px;
  font-size: 16px;
}

.loading {
  color: #00c3ff;
  font-weight: bold;
}

.error {
  color: #ff4c4c;
  font-weight: bold;
}

/* My styles */

.logo-img {
  width: 200px;
  height: 40px;
}

header {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 10;
  padding: 20px;
}

i {
  color: #f5c518;
}

.main-menu ul,
.user-nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.main-menu a {
  color: rgba(255, 255, 255, 0.417);
  text-decoration: none;
}

.user-nav i {
  color: rgba(255, 255, 255, 0.582);
  font-size: 24px;
}

#status {
  color: rgba(255, 255, 255, 0.417);
}

select {
  padding: 5px 15px 5px 0;
  color: rgba(255, 255, 255, 0.582);
  background-color: black;
  border-radius: 8px;
  outline: none;
}

.footer-nav {
  padding: 10px 40px;
  background-color: black;
  color: rgba(255, 255, 255, 0.582);
}

.footer-links-right i,
.footer-links-left ul li a {
  color: rgba(255, 255, 255, 0.417);
  text-decoration: none;
}

.footer-links-right i {
  font-size: 18px;
}

.footer-links-left ul {
  display: flex;
  gap: 20px;
}

.footer-links-left ul li {
  list-style: none;
}

.hero-section {
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/hero.jpg);
  background-size: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(0, 0, 0, 0.95) 100%
  );
  z-index: 0;
}

.hero-content {
  z-index: 2;
  text-align: center;
}

.hero-content img {
  width: 500px;
  height: 140px;
}

.hero-cta {
  margin-top: 5px;
  transition: transform 0.3s ease;
  text-decoration: none;
  padding: 10px 40px;
  background-color: black;
  border: 1px solid grey;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

.hero-cta:hover {
  background-color: lightgray;
  color: black;
}

.hero-content h1 {
  margin-top: 20px;
  text-shadow: 0px 2px 6px rgba(255, 255, 255, 0.4);
}

/* tablet */

@media (min-width: 481px) and (max-width: 860px) {
  header,
  footer {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }

  ul {
    padding: 0;
  }
}

/* phone */
@media (max-width: 480px) {
  body {
    width: 100%;
  }
  header {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }

  nav {
    display: none;
  }

  ul {
    padding: 0;
  }

  input {
    margin-top: 20px;
    width: 100%;
  }

  .hero-content img {
    width: 300px;
    height: 80px;
  }

  .hero-content h1 {
    font-size: 17px;
    margin: 20px;
  }

  .footer-links-left {
    display: none;
  }

  .footer-nav {
    justify-content: center;
  }

  .footer-links-right {
    display: flex;
    gap: 50px;
  }
}
